/* style.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Стили для шапки и меню */
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #ff9900; /* Цвет меняется при наведении */
}

/* Стили для основного содержимого */
main {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Стили для подвала */
footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}